.article {
  padding-bottom: 150px;
}

.article__items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  //display: flex;
  gap: 40px;
}

.article__item img {
  margin-bottom: 30px;
}

.article__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.article__item h3 {
  margin: 0;
  //font-family: Inter, sans-serif;
  //font-size: 24px;
  //font-weight: 700;
  //line-height: 29px;
}

.article__link,
.article__btn{
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 4px 21px;
  background-color: #0066FF;
  color: white;
}

.article__btn-block{
text-align: center;
  margin: 0 auto;
}
.article__btn{
  padding: 13px 61px;
  background-color: #151515;
}