.main {
  flex-grow: 1;
}

.top {
  color: white;
  text-align: center;
  padding: 247px 0 0;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.title {
  margin-bottom: 40px;
  font-size: 96px;
  line-height: 116px;
  font-weight: 700;
}

.top___link {
  display: inline-block;
  background-color: #151515;
  padding: 23px 112px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.mySwiper {
  .swiper-pagination {
    padding-bottom: 92px;
    display: flex;
    gap: 30px;
    justify-content: center;

    span {
      border-radius: 0;
      width: 120px;
      height: 3px;
      background-color: black;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        height: 6px;
        background-color: white;
      }
    }
  }
}

.slider-item {
  height: 100vh;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.why-lease {
  padding: 150px 0;
}

h2, .why-lease__title,
.why-lease__context-title,
.video__title,
.important__title{
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.why-lease__list {
  display: flex;
  column-gap: 40px;
  margin-bottom: 150px;
}

.why-lease__item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.why-lease__item-img {
  width: 150px;
  height: 150px;
}

.why-lease__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.why-lease__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}



.why-lease__context {
  margin: 0 auto;
  max-width: 594px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 50px;
}

.why-lease__context-text_top {
  margin-bottom: 50px;
}

.why-lease__context-list {

}

.why-lease__context-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 140px;
  margin-bottom: 40px;
}


.why-lease__context-num{
  font-size: 48px;
  line-height: 58px;
text-align: center;
  padding-top: 21px;
    color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #0066FF;
}


.why-lease__context-text {
  max-width: 270px;
}

.why-lease__context-footer{
  font-size: 16px;
  line-height: 21px;
}
.video{
  text-align: center;
  padding-bottom: 150px;
}
.video__subtitle{

  margin-bottom: 50px;
}

.important{
  text-align: center;
  padding-bottom: 150px;
}
.important__text{
  display: inline-block;
  max-width:580px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 50px;
}

.important__list{
  display: flex;
  gap: 40px;
}
.important__item{
  max-width: 270px;
  p{
    text-align: left;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}